@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0.5px rgba(0, 0, 0, 0.24);

  --primary-color: #440a67;
  --secondary-color: #ff005c;
  --button-color: #350b40;
  --tertiary-color: #393232;
  --background-color: #f9f3f3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
  /* color: var(--tertiary-color); */
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid var(--tertiary-color);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid var(--tertiary-color);
}


.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--primary-color);
}

.money.minus {
  color: var(--secondary-color);
}

label {
  display: inline-block;
  margin: 15px 0;
  
}

label i {
  font-size: 14px;
}

input[type='text'], input[type='number'] {
  border: 1px solid var(--tertiary-color);
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--button-color);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 15px 0;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin-top: 25px;
}

.list li.plus {
  border-right: 5px solid var(--primary-color);
}

.list li.minus {
  border-right: 5px solid var(--secondary-color);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--button-color);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* .alert {
  display: flex;
  justify-content: space-between;
}

button.alert {
  text-align: center;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px;
} */

